In [1]:
import pandas as pd
import numpy as np

In [2]:
cd /Users/Soul.C/data/instacart

/Users/Soul.C/data/instacart

In [3]:
aisles = pd.read_csv('aisles.csv')
departments = pd.read_csv('departments.csv')
products = pd.read_csv('products.csv')

In [4]:
goods=pd.merge(pd.merge(left=products, right=departments, how="left", on="department_id"),aisles)

In [5]:
op_train = pd.read_csv('order_products__train.csv')
op_prior = pd.read_csv('order_products__prior.csv')
orders = pd.read_csv('orders.csv')

In [6]:
merge = pd.merge(pd.merge(pd.merge(left=op_prior, right=orders, how="left", on="order_id"),products),goods)

In [7]:
#소수점 포맷
pd.options.display.float_format='{:,.8f}'.format

## 충성고객

In [9]:
a=merge[['user_id','order_id','days_since_prior_order']].\
drop_duplicates().\
groupby(['user_id'],as_index=False).\
sum()

In [66]:
a.head()

   user_id  order_id  days_since_prior_order
0        1  19970052            176.00000000
1        2  25028946            198.00000000
2        3  22368790            133.00000000
3        4   8717055             55.00000000
4        5   7051096             40.00000000

In [60]:
merge1 = pd.merge(left=merge, right=a, how='left', on='user_id')

In [62]:
merge1.head()

,order_id_x,product_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order_x,product_name,aisle_id,department_id,department,aisle,order_id_y,days_since_prior_order_y
0,2,33120,1,1,202279,prior,3,5,9,8.00000000,Organic Egg Whites,86,16,dairy eggs,eggs,12881853,151.00000000
1,26,33120,5,0,153404,prior,2,0,16,7.00000000,Organic Egg Whites,86,16,dairy eggs,eggs,52342701,321.00000000
2,120,33120,13,0,23750,prior,11,6,8,10.00000000,Organic Egg Whites,86,16,dairy eggs,eggs,17886543,177.00000000
3,327,33120,5,1,58707,prior,21,6,9,8.00000000,Organic Egg Whites,86,16,dairy eggs,eggs,51286835,344.00000000
4,390,33120,28,1,166654,prior,48,0,12,9.00000000,Organic Egg Whites,86,16,dairy eggs,eggs,108666523,352.00000000

In [73]:
royal = merge1[['user_id','days_since_prior_order_y','reordered']].groupby('user_id',as_index=False).\
mean().sort_values('reordered',ascending=False)

In [74]:
(royal['days_since_prior_order_y']).corr(royal['reordered'])

0.66719310782508778